/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(0deg, rgb(0, 0, 0), rgb(59, 59, 59));
  background-attachment: fixed;
}
/* .container {
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.3);
} */
.content {
  background-color: #3e4440;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#data {
  height: 40vh;
  width: auto;
}
.addNew {
  background-color: #f37748;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.addNew label,
.dolistTitle,
.dolistContent,
button {
  cursor: pointer;
}
img {
  height: 20px;
  width: 20px;
}
