<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<link rel="stylesheet" href="../public/stylesheets/changePassword.css">

<body>
  <div class="container">
    <form class="form-changePassword" id="form-changePassword">
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" placeholder="Password">
      </div>
      <div class="form-group">
        <label for="newPassword">NewPassword</label>
        <input type="password" class="form-control" id="newPassword" placeholder="NewPassword">
      </div>
      <div class="form-group">
        <label for="confirmNewPassword">ConfirmNewPassword</label>
        <input type="password" class="form-control" id="confirmNewPassword" placeholder="ConfirmNewPassword">
      </div>
      <div class="btn-change"><button type="button" class="btn btn-primary" id="btn-change"> Change</button></div>
    </form>
  </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../public/javascripts/changePassword.js"></script>

</html>