<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<link rel="stylesheet" href="../public/stylesheets/forgotPassword.css">

<body>
  <div class="container">
    <div class="auth">
      <a href="/login"><button class="btn-login">Login</button></a>
      <a href="/register"><button>Register</button></a>
    </div>
    <div class="form">
      <form class="form-forgotPassword" id="form-forgotPassword">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" class="email" id="email" aria-describedby="emailHelp" placeholder="Enter Email">
          <div id="text"></div>
        </div>

        <div class="btn-forgotPassword"><button type="button" class="btn btn-primary" id="btn-forgotPassword">Create new
            password</button></div>
      </form>
    </div>

  </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="../public/javascripts/forgotPassword.js"></script>

</html>