<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="home-view ng-scope animated enabled"
        ng-class="{'animated': home.animated, 'reverse': home.reverse, 'enabled': home.enabled}" style="">
        <h2 splitted-text="" animation-delay="1" letters-duration="0.5" letters-delay="0.05" letters-offset="50"
            letters-movement="0" animation-text="'let your face'" animation-reverse="home.reverse"
            splitted-animation="home.animated" class="ng-isolate-scope" style="opacity: 1;"><span class="animated"
                style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">l</span><span class="animated"
                style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">e</span><span class="animated"
                style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">t</span><span class="separator"> </span><span
                class="animated" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">y</span><span class="animated"
                style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">o</span><span class="animated"
                style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">u</span><span class="animated"
                style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">r</span><span class="separator"> </span><span
                class="animated" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">f</span><span class="animated"
                style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">a</span><span class="animated"
                style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">c</span><span class="animated"
                style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">e</span></h2>
        <h5 splitted-text="" animation-delay="1.2" letters-duration="0.2" letters-delay="0.03" letters-offset="10"
            letters-movement="0" animation-text="'tell what music suits you'" animation-reverse="home.reverse"
            splitted-animation="home.animated" class="ng-isolate-scope" style="opacity: 1;"><span class="animated"
                style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">t</span><span class="animated"
                style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">e</span><span class="animated"
                style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">l</span><span class="animated"
                style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">l</span><span class="separator"> </span><span
                class="animated" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">w</span><span class="animated"
                style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">h</span><span class="animated"
                style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">a</span><span class="animated"
                style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">t</span><span class="separator"> </span><span
                class="animated" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">m</span><span class="animated"
                style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">u</span><span class="animated"
                style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">s</span><span class="animated"
                style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">i</span><span class="animated"
                style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">c</span><span class="separator"> </span><span
                class="animated" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">s</span><span class="animated"
                style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">u</span><span class="animated"
                style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">i</span><span class="animated"
                style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">t</span><span class="animated"
                style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">s</span><span class="separator"> </span><span
                class="animated" style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">y</span><span class="animated"
                style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">o</span><span class="animated"
                style="opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);">u</span></h5>
        <div class="button" ng-click="home.startExperience()"><span>start experience</span></div>
    </div>
</body>

</html>