* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(0deg, rgb(0, 0, 0), rgb(80, 80, 80));
  background-attachment: fixed;
  color: white;
}
.form {
  height: 50vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-forgotPassword {
  background: #3e4440;
  height: auto;
  width: 50%;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
  border: white;
}

.form-group {
  display: grid;
  padding: 1rem 1.5rem 1rem 1.5rem;
}
.container {
  height: 100vh;
  width: auto;
}
.auth {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}
.auth button {
  width: 8rem;
  margin: 1rem;
}
.btn-login {
  background-color: #007bff;
}

.btn-forgotPassword {
  padding: 2rem 1.5rem 2rem 1.5rem;
}
button {
  height: 2.5rem;
  width: 100%;
  cursor: pointer;
  border-radius: 5px;
  border: #007bff;
  background-color: #7f858c;
  color: white;
  font-weight: bold;
  outline-style: none;
}
button:hover {
  border: #f37748;
  background-color: #f37748;
}
input {
  height: 2rem;
  width: 100%;
  border-radius: 5px;
  padding: 1rem;
}

label {
  padding: 5px;
}

.form-group,
.btn-forgotPassword,
.auth
 {
  animation: text2 2s;
}

#text {
  padding-top: 1rem;
}
@keyframes text2 {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
