*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.block1{
    background-color: black;
}
.block2{
    background:linear-gradient(89.14deg, #BCBCBC 4.79%, rgba(255, 255, 255, 0) 98.71%);
}
.block2 img{
    width: 2rem;
    height: auto;
}